body, body{
  height: 100%;
}
footer{
  text-align: center;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  width: 100%;
}
header{
  text-align: center;
  height: 15px;
  font-size: 26px;
  vertical-align: middle;
}
a{
  position: absolute;
  right: 10px;
  top: 2px;
}
