<div>
  <ul>
    <li (click)="showClientes();get()"><a href="#">Clientes</a></li>
    <li (click)="showProdutos()"><a href="#">Produtos</a></li>
    <li (click)="showQuants()"><a href="#">Vendedores</a></li>
  </ul>
</div>
<div id="clientes" *ngIf="showingClientes">
  <div>
    <label>Escolha um Cliente: </label>
    <input type="text" [(ngModel)]="pesquisa">
    <span>{{vendedores.data}}</span>
  </div>
  <table>
    <tr>
      <th>Cliente</th>
      <th>Cidade</th>
      <th>Quant. Comprada</th>
    </tr>
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente}}</td>
      <td>Barreiras</td>
      <td>14</td>
    </tr>
  </table>
</div>
<div id="produtos" *ngIf="showingProdutos">
  <table>
    <tr>
      <th>Produto</th>
      <th>Preço</th>
      <th>Quantidade</th>
    </tr>
    <tr *ngFor="let produto of produtos">
      <td>{{produto.produto}}</td>
      <td>{{produto.preco}}</td>
      <td>{{produto.quant}}</td>
    </tr>
  </table>
</div>
<div id="quants" *ngIf="showingQuants">
  <div>
    Adicionar Vendedor:<br> <input [(ngModel)]="data.nome" type="text" placeholder="Vendedor"> <input [(ngModel)]="data.idade" type="text" placeholder="Vendas"><br><input (click)="POST()" type="submit" value="ADICIONAR">
  </div>
  <table id="vendedortable">
    <tr>
      <th>Vendedor</th>
      <th>Quantidade de Vendas</th>
    </tr>
    <tr *ngFor="let vendedor of dadoExterno['data']">
      <td>{{vendedor['nome']}}</td>
      <td>{{vendedor['idade']}}</td>
    </tr>
  </table>
</div>


